<template>
  <div id="app">
    <app-header></app-header>
    <router-view />
  </div>
</template>

<script>
import AppHeader from "@/components/global/AppHeader";
import { mapActions } from "vuex";

export default {
  name: "App",

  components: {
    AppHeader
  },

  created() {
    this.fetchUser();
  },

  methods: {
    fetchUser() {
      const userId = localStorage.getItem("userId");

      if (!userId) return;

      this.getUser(userId);
    },

    ...mapActions("User", ["getUser"])
  }
};
</script>

<style lang="scss" src="@/assets/styles/index.scss"></style>
