<template>
  <main class="container sign-up-page">
    <form action="" method="post" class="app-form" @submit.prevent="signUp">
      <fieldset>
        <legend>Sign Up</legend>

        <app-form-input
          id="nickname"
          v-model="$v.form.nickname.$model"
          type="text"
          placeholder="Nickname:"
          :required="true"
          :invalid="$v.form.nickname.$error"
        ></app-form-input>

        <app-form-input
          id="password"
          v-model="$v.form.password.$model"
          type="password"
          placeholder="Password:"
          :required="true"
          :invalid="$v.form.password.$error"
        ></app-form-input>
      </fieldset>

      <footer class="app-form__footer">
        <app-button
          text="Register"
          type="submit"
          :disabled="false"
        ></app-button>

        <div class="footer-additional">
          <p>Already have an account?</p>
          <router-link to="sign-in">Login</router-link>
        </div>
      </footer>

      <app-errors-list :errors="errors"></app-errors-list>

      <p v-if="!$v.form.nickname.minLength" class="app-form__error">
        &#9938; Nickname must have at least
        {{ $v.form.nickname.$params.minLength.min }} letters.
      </p>
      <p v-if="!$v.form.password.minLength" class="app-form__error">
        &#9938; Password must have at least
        {{ $v.form.password.$params.minLength.min }} letters.
      </p>
    </form>
  </main>
</template>

<script>
import { mapActions } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
import { validateNickname } from "@/helpers";

export default {
  name: "SignUp",

  components: {
    AppFormInput: () => import("@/components/global/AppFormInput"),
    AppButton: () => import("@/components/global/AppButton"),
    AppErrorsList: () => import("@/components/global/AppErrorsList")
  },

  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8)
      },
      nickname: {
        validateNickname,
        required,
        minLength: minLength(4)
      }
    }
  },

  data() {
    return {
      form: {
        password: "",
        nickname: ""
      },
      errors: []
    };
  },

  methods: {
    async signUp() {
      this.errors = [];
      if (this.$v.$invalid) return;

      try {
        await this.register(this.form);
        this.$router.push("/");
      } catch (err) {
        this.errors.push(err.response.data.message);
      }
    },

    ...mapActions("User", ["register"])
  }
};
</script>
