<template>
  <main class="container home-page">
    <section class="home-page__create-post">
      <user-post :is-new-post="true"></user-post>
    </section>

    <section class="home-page__list">
      <transition name="fade" mode="out-in">
        <div v-if="loading" key="preloader">
          <preloader-post
            v-for="item in 3"
            :key="item"
            class="home-page__list-item"
          ></preloader-post>
        </div>

        <div v-else-if="posts.length" key="list">
          <user-post
            v-for="post in posts"
            :key="post._id"
            :post="post"
            class="home-page__list-item"
          ></user-post>
        </div>

        <p v-else>Nobody posted anything today...</p>
      </transition>
    </section>
  </main>
</template>

<script>
import UserPost from "@/components/post/UserPost";
import PreloaderPost from "@/components/preloaders/PreloaderPost";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Home",

  components: {
    UserPost,
    PreloaderPost
  },

  data: () => ({
    loading: false
  }),

  computed: {
    ...mapGetters("Posts", ["posts"])
  },

  created() {
    this.fetchPosts();
  },

  methods: {
    async fetchPosts() {
      this.loading = true;

      try {
        await this.getPosts();
      } finally {
        this.loading = false;
      }
    },

    ...mapActions("Posts", ["getPosts"])
  }
};
</script>
