<template>
  <article class="user-post">
    <header v-if="!isNewPost" class="user-post__header">
      <h2>{{ post.author.nickname }}</h2>
    </header>

    <textarea
      ref="textarea"
      v-model="text"
      class="user-post__text"
      name="post"
      autocapitalize="sentences"
      placeholder="Your new post text ..."
      :readonly="!isNewPost"
    ></textarea>

    <footer class="user-post__footer">
      <p v-if="!isNewPost">
        Posted on
        <time :datetime="post.createdAt">{{ formattedDate }}</time>
      </p>
      <app-button
        v-if="isNewPost"
        text="Save"
        :disabled="!text"
        @click.native="savePost"
      ></app-button>
    </footer>
  </article>
</template>

<script>
import AppButton from "@/components/global/AppButton";
import autoResize from "autosize";
import { mapActions, mapGetters } from "vuex";
import moment from "moment";

export default {
  name: "UserPost",

  components: { AppButton },

  props: {
    isNewPost: {
      type: Boolean,
      default: false
    },

    post: {
      type: Object,
      default: null
    }
  },

  data: () => ({
    text: ""
  }),

  computed: {
    formattedDate() {
      if (!this.post?.createdAt) return;

      return moment
        .utc(this.post.createdAt)
        .local()
        .format("DD MMM YYYY");
    },

    ...mapGetters("User", ["me"])
  },

  created() {
    this.text = this.post?.message;
  },

  mounted() {
    autoResize(this.$refs.textarea);
  },

  methods: {
    async savePost() {
      await this.createPost({
        message: this.text,
        author: this.me._id
      });
      this.text = "";
    },

    ...mapActions("Posts", ["createPost"])
  }
};
</script>
