<template>
  <button
    class="app-button"
    :type="type"
    :disabled="disabled"
    @click="routerPush"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: "AppButton",

  props: {
    text: {
      type: String,
      required: true
    },

    type: {
      type: String,
      default: "button"
    },

    disabled: {
      type: Boolean,
      default: false
    },

    linkTo: {
      type: String,
      default: null
    }
  },

  methods: {
    routerPush() {
      if (!this.linkTo) return;

      this.$router.push({ name: this.linkTo });
    }
  }
};
</script>
