<template>
  <ul v-if="errors.length" class="errors-list">
    <li v-for="(error, i) in errors" :key="i" class="errors-list__item">
      <span>&#9938;</span>
      <p>{{ error }}</p>
    </li>
  </ul>
</template>

<script>
export default {
  name: "AppErrorsList",

  props: {
    errors: {
      type: Array,
      required: true
    }
  },

  computed: {}
};
</script>
