<template>
  <div class="app-form-input">
    <input
      :id="id"
      :value="value"
      :type="type"
      :required="required"
      :class="{ invalid: invalid }"
      :autocomplete="type === 'password' ? 'new-password' : 'off'"
      :minlength="minlength"
      @input="$emit('input', $event.target.value)"
      @change="$emit('change', $event.target.value)"
    />
    <label
      :for="id"
      :title="placeholder"
      :data-title="shortPlaceholder || placeholder"
    />
  </div>
</template>

<script>
export default {
  name: "AppFormInput",

  props: {
    value: {
      type: String,
      default: ""
    },

    type: {
      type: String,
      default: "text"
    },

    id: {
      type: String,
      required: true
    },

    required: {
      type: Boolean,
      default: false
    },

    placeholder: {
      type: String,
      required: true
    },

    shortPlaceholder: {
      type: String,
      default: null
    },

    invalid: {
      type: Boolean,
      default: false
    },

    minlength: {
      type: Number,
      default: 0
    }
  }
};
</script>
