<template>
  <!-- TODO: Dynamicaly change pages top padding depending on the header height -->
  <header class="app-header">
    <div class="app-header__left-content">
      <router-link to="/">
        <h1>
          My Twitter
          <span v-if="userIsAuthenticated">/ {{ me.nickname }}</span>
        </h1>
      </router-link>
    </div>

    <button
      v-if="userIsAuthenticated"
      class="app-header__button"
      @click="signOut"
    >
      Sign Out
    </button>
  </header>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AppHeader",

  computed: {
    userIsAuthenticated() {
      return !!this.me._id;
    },

    ...mapGetters("User", ["me"])
  },

  methods: {
    signOut() {
      this.logout();
      this.$router.push("/sign-in");
    },

    ...mapActions("User", ["logout"])
  }
};
</script>
