* {
  box-sizing: border-box;
}

html {
  background-color: $color-background;
}

html, body, #app {
  height: 100%;
}

a {
  text-decoration: none;
  color: $color-accent;
  transition: color .25s;

  &:visited {
    color: $color-accent;
  }

  &:hover, &:focus {
    color: darken($color-accent, 20%)
  }
}

#app {
  padding-top: 54px;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  color: $color-main;
}

.container {
  padding: 45px 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 550px;
  }
}