/* Fonts */
$font-family-base: "Roboto", sans-serif;
$font-size-base: 16px;

/* Colors */
$color-main: #34335C;
$color-secondary: #8b8d8f;
$color-accent: #FF805D;
$color-background: #f6f8fa;
$color-background-accent: #effedd;
$color-border: #e2e8f0;
$color-error: #ed4336;

/* Z-index's */
$z-index-absolute: 2;

$border-radius-default: 4px;