.app-button {
  overflow: hidden;
  padding: 12px 16px;
  font-weight: 500;
  text-align: center;
  border-radius: $border-radius-default;
  background-color: $color-accent;
  color: #fff;
  transition: all .25s;

  &:hover {
    box-shadow: inset 0 0 3.5em 1em rgba(0, 0, 0, 0.1)
  }

  &:disabled {
    opacity: 0.5;
  }
}