.app-form {
  fieldset {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid $color-border;
    border-radius: 8px;
    background-color: #fff;
  }

  legend {
    padding: 0 10px;
    font-size: 18px;
  }

  .app-form-input:not(:last-child) {
    margin-bottom: 15px;
  }
}

.app-form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .footer-additional {
    display: flex;
    align-items: center;
  }

  p {
    margin-right: 5px;
  }
}

.app-form__error {
  margin-bottom: 10px;
  font-size: 14px;
  color: $color-error;
}

@media (max-width: 576px) {
  .app-form {
    fieldset {
      padding: 15px;
    }
  }

  .app-form__footer {
    flex-direction: column;

    .app-button {
      margin-bottom: 15px;
    }
  }
}