.app-form-input {
  position: relative;

  .label-before {
    top: -10px;
    left: -5px;
    padding: 0 6px;
    transform: scale(0.7);
    line-height: 20px;
    border-radius: $border-radius-default;
    background: #fff;
  }

  label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 55px;
    font-size: 17px;
    color: $color-secondary;
    transition: 300ms all;
    cursor: text;
  }

  input {
    min-height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid $color-border;
    border-radius: $border-radius-default;
    font-size: 17px;
    color: $color-main;
    transition: all 0.3s;

    &:focus {
      border-color: $color-main;
    }

    &:-internal-autofill-selected + label::before,
    &:valid + label::before {
      @extend .label-before;
      content: attr(data-title);
      color: $color-main;
    }

    &:focus + label::before {
      @extend .label-before;
      color: $color-main;
    }

    &.invalid + label::before {
      @extend .label-before;
      color: $color-error;
    }

    &.invalid {
      border-color: $color-error;
    }
  }
}
