.app-header {
  z-index: $z-index-absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 18px;
  background-color: $color-main;
  color: #fff;

  a {
    color: #fff;
  }
}

.app-header__left-content {
  display: flex;
  align-items: center;
  margin-right: 10px;

  h1 {
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app-header__button {
  font-size: 14px;
  color: $color-accent;
}