.errors-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: $color-error;

  span {
    margin-right: 5px;
  }

  p:first-letter {
    text-transform: capitalize;
  }
}