.user-post {
  padding: 20px;
  border: 1px solid $color-border;
  border-radius: $border-radius-default;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  background-color: #fff;
}

.user-post__header {
  margin-bottom: 8px;
}

.user-post__text {
  resize: none;
  width: 100%;
  max-height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.3;
  border-radius: $border-radius-default;
  background-color: darken($color-background, 3%);
}

.user-post__footer {
  display: flex;
  justify-content: flex-end;

  p {
    font-size: 14px;
    color: $color-secondary;
  }
}