<template>
  <div class="preloader-post">
    <svg
      role="img"
      width="100%"
      height="108"
      aria-labelledby="loading-aria"
      viewBox="0 0 340 108"
      preserveAspectRatio="none"
    >
      <title id="loading-aria">Loading...</title>
      <rect
        x="0"
        y="0"
        width="100%"
        height="100%"
        clip-path="url(#clip-path)"
        style='fill: url("#fill");'
      ></rect>
      <defs>
        <clipPath id="clip-path">
          <rect x="0" y="0" rx="3" ry="3" width="67" height="16" />
          <rect x="200" y="94" rx="3" ry="3" width="140" height="14" />
          <rect x="0" y="24" rx="3" ry="3" width="340" height="60" />
        </clipPath>
        <linearGradient id="fill">
          <stop offset="0.599964" stop-color="#ededed" stop-opacity="1">
            <animate
              attributeName="offset"
              values="-2; -2; 1"
              keyTimes="0; 0.25; 1"
              dur="1.5s"
              repeatCount="indefinite"
            ></animate>
          </stop>
          <stop offset="1.59996" stop-color="#ecf0f5" stop-opacity="1">
            <animate
              attributeName="offset"
              values="-1; -1; 2"
              keyTimes="0; 0.25; 1"
              dur="1.5s"
              repeatCount="indefinite"
            ></animate>
          </stop>
          <stop offset="2.59996" stop-color="#ededed" stop-opacity="1">
            <animate
              attributeName="offset"
              values="0; 0; 3"
              keyTimes="0; 0.25; 1"
              dur="1.5s"
              repeatCount="indefinite"
            ></animate>
          </stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  name: "PreloaderPost"
};
</script>
