.home-page__create-post {
  margin-bottom: 30px;
}

.home-page__list {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.home-page__list-item {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 10px;
}